:root {
  /*** 
  * Rubber Pad styling adapted from "Blob Button" https://jsfiddle.net/andykenward/9y1jjsuz 
  ***/
  /* .rubber-pad colors */
  --rubber-pad-color: hsla(0, 0%, 70%, 1);
  --rubber-pad-background-color: hsla(205, 8%, 15%, 1);
  --rubber-pad-text-shadow-color: hsla(0, 0%, 100%, 0.8);
  --rubber-pad-active-color: hsla(0, 0%, 0%, 0.7);
  --rubber-pad-active-text-shadow-color: hsla(0, 0%, 100%, 0.15);
  --rubber-pad-edge-color-light: hsla(0, 0%, 100%, 0.3); 
  --rubber-pad-edge-color-dark: hsla(0, 0%, 0%, 0.5); 
  --rubber-pad-fill-color-light: hsla(0, 0%, 100%, 0.1); 
  --rubber-pad-fill-color-dark: hsla(0, 0%, 0%, 0.2); 
  --rubber-pad-drop-shadow-color: hsla(0, 0%, 0%, 1); 
  --rubber-pad-before-background-color: hsla(0, 0%, 10%, 1);
  --rubber-pad-before-shadow-color-light: hsla(0, 0%, 100%, 0.1);
  --rubber-pad-before-shadow-color-dark: hsla(0, 0%, 0%, 0.4); 
  --rubber-pad-before-edge-blur-color: hsla(0, 0%, 23%, 1);
  --rubber-pad-text-shadow: -0.5px -0.5px 0px hsla(0, 0%, 100%, 0.8), 0.5px 0.5px 1px hsla(0, 0%, 0%, 1);
  --rubber-pad-text-shadow-active: 1px 1px 0px hsla(0, 0%, 100%, 0.15);

  /* .rubber-pad box-shadows */
  --rubber-pad-box-shadow-default: 
    /* upper left edge shine */
    inset 0.36px 0.25px 0.5px var(--rubber-pad-edge-color-light),
    /* upper fill light */ 
    inset 1px 3px 10px var(--rubber-pad-fill-color-light), 
    /* bottom edge shade */ 
    inset -0.36px -0.25px 0.5px var(--rubber-pad-edge-color-dark),
    /* lower fill shade */  
    inset -1px -3px 10px var(--rubber-pad-fill-color-dark),
    /* drop shadow */
    0.36px 1px 7px -1px var(--rubber-pad-drop-shadow-color);

  --rubber-pad-box-shadow-before: 
    /* bottom edge shine */
    inset -0.36px -0.25px 0.5px var(--rubber-pad-edge-color-light), 
    /* lower fill light */
    inset -1.8px -3px 9px var(--rubber-pad-fill-color-light),
    /* top edge shade */
    inset 0.36px 0.25px 0.5px var(--rubber-pad-edge-color-dark), 
    /* upper fill shade */
    inset 1.8px 3px 9px var(--rubber-pad-fill-color-dark),
    /* upper outer shadow */
    -0.75px -9px 11px -4px var(--rubber-pad-before-shadow-color-light),
    /* lower outer shadow */
    0.75px 7.5px 11px -2px var(--rubber-pad-before-shadow-color-dark),
    /* light blur around border */
    0px 0px 5.5px 1.75px var(--rubber-pad-before-edge-blur-color);
  
  --rubber-pad-box-shadow-active: 
    /* upper left edge shine (same as default) */
    inset 0.36px 0.25px 0.5px var(--rubber-pad-edge-color-light), 
    /* upper fill shade ( xy offsets and blur same as default, color dark */
    inset 1px 3px 10px var(--rubber-pad-fill-color-dark),
    /* bottom edge shade (same as default) */
    inset -0.36px -0.25px 0.5px var(--rubber-pad-edge-color-dark), 
    /* lower fill light ( xy offsets and blur same as default, color light */
    inset -1px -3px 10px var(--rubber-pad-fill-color-light),
    /* drop shadow (same as default w/shorter blur radius) */
    0.36px 1px 2px -1px var(--rubber-pad-drop-shadow-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(0, 0%, 20%); 
  background: 
    -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, 0) 15%, hsla(120, 80%, 100%, .1) 50%, hsla(0, 0%, 100%, 0) 80%), 
    -webkit-linear-gradient(hsla(0, 0%, 10%, 1), hsla(0, 0%, 20%, 1)); 
  background: 
    linear-gradient(45deg, hsla(0, 0%, 100%, 0) 15%, hsla(120, 80%, 100%, .1) 50%, hsla(0, 0%, 100%, 0) 80%), 
    linear-gradient(hsla(0, 0%, 10%, 1), hsla(0, 0%, 20%, 1)); 
  color: #ddd;
  /* height: 100%; */
}

/**** BUTTON RESETS from normalize.css  ****/
button {
  /**
    * 1. Change the font styles in all browsers.
    * 2. Remove the margin in Firefox and Safari.
  */
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari. */
button,
[type="button"] {
  -webkit-appearance: button;
}

/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button:focus {
  /* outline: 1px solid #fff;
  outline-offset: -4px; */
  outline: none;
}

