

#canvas {
  position: relative;
  /* z-index: -1; */
  /* border: 1px solid #acacac; */
  border: none;
  border-radius: 999px;
  /* background-color: var(--rubber-pad-before-background-color); */
  /* box-shadow: var(--box-shadow-canvas-2) */
}
