#timer-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
}

.btn-controls {
  --btn-width: 115px;
  --btn-height: 30px;
}

button#start_stop {
  margin-left: 0;
  margin-right: 4px;
}

button#reset {
  margin-left: 4px;
  margin-right: 0;
}
