#timer-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
}

.btn-controls {
  position: relative;
  cursor: pointer;
  width: 115px; 
  height: 30px; 
  line-height: 30px; 
  background: var(--rubber-pad-background-color);
  margin: 7.5px 7.5px;
  border: none;
  text-align: center;
  border-radius: 999px;
  color: var(--rubber-pad-color);
  text-shadow: var(--rubber-pad-text-shadow);
  box-shadow: var(--rubber-pad-box-shadow-default);
}

.btn-controls::before {
  content: "";
  background: var(--rubber-pad-before-background-color);
  width: 121px; /* base element width + 6px */
  height: 36px; /* base element height + 6px */
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  border-radius: 999px;
  box-shadow: var(--rubber-pad-box-shadow-before);
}

.btn-controls:active {
  color: var(--rubber-pad-active-color);
  text-shadow: var(--rubber-pad-text-shadow-active);
  box-shadow: var(--rubber-pad-box-shadow-active);
}

.btn-controls:hover {
  font-size: 110%;
 }

button#start_stop {
  margin-left: 0;
  margin-right: 4px;
}

button#reset {
  margin-left: 4px;
  margin-right: 0;
  --rubber-pad-color: hsla(0, 100%, 70%, 1);
}
