#break-setting, #session-setting {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#break-label, #session-label {
  text-transform: uppercase;
  font-size: 1em;
  margin: 5px 0;
  color: var(--rubber-pad-color);
  text-shadow: -1px -1px 0px var(--rubber-pad-text-shadow-color), 1px 1px 2px var(--rubber-pad-drop-shadow-color);
}

.setting-container {
  display: flex;
  flex-direction: row;
  
}

#break-setting .setting-container {
  flex-direction: row-reverse;
}

.setting-buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  
}

.setting-length {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--rubber-pad-before-background-color);
  border-radius: 10px;
  margin: 14px 5px;
  box-shadow: 
    inset 0.5px 0.5px var(--rubber-pad-edge-color-light);
}

#break-length, #session-length {
  font-size: 2em;
}

.btn-settings {
  position: relative;
  cursor: pointer;
  width: 50px; 
  height: 30px; 
  line-height: 30px; 
  background: var(--rubber-pad-background-color);
  margin: 7.5px 7.5px;
  border: none;
  text-align: center;
  border-radius: 999px;
  color: var(--rubber-pad-color);
  text-shadow: -1px -1px 0px var(--rubber-pad-text-shadow-color), 1px 1px 2px var(--rubber-pad-drop-shadow-color);
  /* font-size: 5em; */
  /* font-family: sans-serif; */
  box-shadow: var(--rubber-pad-box-shadow-default);
}

.btn-settings::before {
  content: "";
  background: var(--rubber-pad-before-background-color);
  width: 56px; /* base element width + 6px */
  height: 36px; /* base element height + 6px */
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  border-radius: 999px;
  box-shadow: var(--rubber-pad-box-shadow-before);
}

.btn-settings:active {
  color: var(--rubber-pad-active-color);
  text-shadow: 1px 1px 0px var(--rubber-pad-active-text-shadow-color);
  box-shadow: var(--rubber-pad-box-shadow-active);
}

#session-increment, 
#session-decrement {
  margin-left: 0;
}

#break-increment, 
#break-decrement {
  margin-right: 0;
}

