#break-setting, #session-setting {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 1px solid red; */
}

#break-label, #session-label {
  text-transform: uppercase;
  font-size: 0.8em;
}



.setting-container {
  display: flex;
  flex-direction: row;
}

#break-setting .setting-container {
  flex-direction: row-reverse;
}

.setting-buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.setting-length {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#break-length, #session-length {
  font-size: 2em;
  /* margin: auto;
  padding: 5% 10%; */
  /* line-height: 1.5; */
  /* border: 1px solid red; */
  
}

.btn-setting-up, 
.btn-setting-down {
  height: 30px;
  width: 40px;
  padding: 0;
  line-height: 30px;
  border-radius: 4px;
  margin: 2px 0;
}

.btn-setting-up {
  
}



.btn-setting-down {
  
}




/* #session-setting.setting-container {
  flex-direction: row-reverse;
}

#session-label, #break-label {
  font-size: .8rem;
  text-transform: uppercase;
  
}

.setting-display {
  display: inline-block;
}
.setting-buttons {
  display: inline-block;
}
.setting-buttons button {
  display: block;
} */