#canvas {
  position: relative;
  /* z-index: -1; */
  /* border: 1px solid #acacac; */
  border-radius: 999px;
  background-color: var(--rubber-pad-before-background-color);

  --canvas-box-shadow: 
    /* bottom edge shine */
    inset -4px -3px 3px var(--rubber-pad-edge-color-light), 
    /* lower fill light */
    inset -17px -19px 6px var(--rubber-pad-fill-color-light),
    /* top edge shade */
    inset 4px 3px 3px var(--rubber-pad-edge-color-dark), 
    /* upper fill shade */
    inset 17px 19px 6px var(--rubber-pad-fill-color-dark),
    /* upper outer shadow */
    -8px -56px 69px -25px var(--rubber-pad-before-shadow-color-light),
    /* lower outer shadow */
    8px 50px 69px -13px var(--rubber-pad-before-shadow-color-dark),
    /* light blur around border */
    0px 0px 31px 13px var(--rubber-pad-before-edge-blur-color);

  box-shadow: 
    /* bottom edge shine */
    inset -0.5px -0.5px 0.5px var(--rubber-pad-edge-color-light), 
    /* lower fill light */
    inset -2px -3px 1px var(--rubber-pad-fill-color-light),
    /* top edge shade */
    inset 0.5px 0.5px 0.5px var(--rubber-pad-edge-color-dark), 
    /* upper fill shade */
    inset 2px 3px 1px var(--rubber-pad-fill-color-dark),
    /* upper outer shadow */
    -1px -9px 11px -4px var(--rubber-pad-before-shadow-color-light),
    /* lower outer shadow */
    1px 8px 11px -2px var(--rubber-pad-before-shadow-color-dark),
    /* light blur around border */
    0px 0px 5px 2px var(--rubber-pad-before-edge-blur-color);
}
